<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CondaEnvironmentName" value="dinet" />
		<add key="OpenFaceDirectory" value="C:\ai\OpenFace_2.2.0_win_x64" />
		<add key="DINetDirectory" value="C:\ai\DINet" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>